<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>
        <h1>Student Registration Form</h1>
        <div>
            <form th:action="@{/submit-form}" th:object="${student}"  method="post">
                First Name:
                <input type="text" placeholder="Enter First Name" th:field="${student.firstName}"/>
                <br> </br>
                Last Name:
                <input type="text" placeholder="Enter Last Name" th:field="*{lastName}"/>
                <br> </br>
                Country:
                <select th:field="${student.country}">
                    <option th:each="country:${countries}" th:value="${country}" th:text="${country}"></option>
                </select>
                <br> </br>
                Favourite Programming Language:
                <input type="radio" th:each="language:${favLanguage}" th:field="${student.favouriteLanguage}" th:value="${language}" th:text="${language}" ></input>
                <br><br>
                Favourite Subjects:
                <input type="checkbox" th:each="subject:${favSubjects}" th:field="${student.favouriteSubjects}" th:value="${subject}" th:text="${subject}" ></input>
                <br><br>
                <input type="submit" value="Submit" />
            </form>
        </div>
</body>
</html>